*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	padding: 80px 20px;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}

h1{
	text-align: center;
}

form{
	max-width: 600px;
	margin: 40px auto 0;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.from-input{
	display: flex;
	flex-direction: column;
	gap: 8px;
}