*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	padding: 80px 20px;
	color: #0a0a0a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: -0.02em;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}

h1{
	text-align: center;
}

form{
	max-width: 600px;
	margin: 40px auto 0;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.from-input{
	display: flex;
	flex-direction: column;
	gap: 8px;
}

input{
	font-size: 14px;
	padding: 12px 16px !important;
	border-radius: .5rem;
	border: 1px solid rgb(0, 0, 0);
}

button{
	padding: 12px 24px;
	background-color: rgba(0, 0, 0, .5);
	color: #f1f1f1;
	line-height: 1.3;
	border: 0;
	border-radius: .5rem;
	cursor: pointer;
}
button:hover{
	background-color: rgba(0, 0, 0, .3);
}